<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none" style="margin: 8px; margin-bottom: 0%;">      
      <span class="fs-4">QUESTIONS AND ANSWER</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" style="margin: 8px; margin-bottom: 0%;">
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/dashboard">Questionnaires</a>
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/dashboard/changePassword">Change Password</a>
    </nav>
    <a routerLink="/start" class="btn btn-outline-success" style="margin: 8px; margin-bottom: 0%;">LogOut</a>
</div>