<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Questionnaire Data</h3>
        <br>
        <form [formGroup]="questionnaireData" (ngSubmit)="stepOne()">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter the title of the questionnaire" formControlName="title">
                <span class="text-danger ms-2" 
                *ngIf="questionnaireData.get('title')?.hasError('required')
                        && questionnaireData.get('title')?.touched" >
                    The title <strong> is required</strong>
                </span>
            </div>
            <div class="mb-3">
                <textarea rows="3" placeholder="Enter the description of the questionnaire" 
                formControlName="description" class="form-control"></textarea>
                <span class="text-danger ms-2" 
                *ngIf="questionnaireData.get('description')?.hasError('required')
                        && questionnaireData.get('description')?.touched" >
                    The description <strong> is required</strong>
                </span>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button [disabled]="questionnaireData.invalid"  class="btn btn-success" type="submit">Next</button>
            </div>
        </form>
    </div>
</div>