<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">
            Questions List
        </h3>
        <hr>
        <div class="card mb-2" *ngFor="let question of questionsList; let i = index">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div style="width: 70%;">
                    <h5>{{ question.description }}</h5>
                </div>
                <div style="width: 30%;">
                    <button class="btn btn-primary btn-sm me-1 mt-1" (click)="question.hide = !question.hide" >Show</button>
                    <button class="btn btn-danger btn-sm me-1 mt-1" (click)="deleteQuestion(i)"> Delete</button>
                </div>
            </div>
            <div class="car-body" [hidden]="question.hide">
                <ul class="list-group" style="margin: 10px;">
                    <li class="list-group-item"  *ngFor="let answer of question.answersList"
                        [ngClass]="{ 'list-group-item-success': answer.isCorrect == true }">
                        {{ answer.description }}
                        <span class="material-icons" style="float: right;" *ngIf="answer.isCorrect == true">
                            check_circle
                        </span>
                    </li> 
                </ul>
            </div>
        </div>
        <div *ngIf="questionsList.length == 0">
            <h6>There are no questions to show</h6>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">
            New Question
        </h3>
        <hr>
        <app-new-question (sendQuestion)="saveQuestion($event)"></app-new-question>
    </div>
</div>
<button class="btn btn-success btn-lg btnFinish" 
[disabled]="questionsList.length == 0" (click)="saveQuestionnaireForm()" >FINISH QUESTIONNAIRE</button>