<div class="container">
    <div class="card">
        <h4>Result</h4>
        <p class="card-text">This is the result of the questionnaire!</p>
        <div *ngFor="let question of questionnaire.questionsList; let i = index" style="margin-bottom: 10px;">
            <div class="card-header">
                <b>{{question.description}}</b>
            </div>
            <ul class="list-group" *ngFor="let answer of question.answersList">
                <li class="list-group-item" 
                    [ngClass]="{'list-group-item-success': answer.isCorrect == true && answerUser[i] == answer.id,
                            'list-group-item-danger': answer.isCorrect == false && answerUser[i] == answer.id}">
                    {{ answer.description }}   
                    <span class="material-icons correct_icon" 
                    *ngIf="answer.isCorrect == true && answerUser[i] == answer.id">
                        check_circle
                    </span>
                    <span class="material-icons incorrect_icon" 
                    *ngIf="answer.isCorrect == false && answerUser[i] == answer.id">
                        highlight_off
                    </span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <button class="btn btn-primary btn-lg btn-block" routerLink="/start">Return</button>
            </div>
        </div>
    </div>
</div>