<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center"> 
            Change Password
        </h3>
        <form [formGroup]="changePassword" (ngSubmit)="savePassword()">
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Previous Password" formControlName="previousPassword">
                <span class="text-danger ms-2"
                        *ngIf="changePassword.get('previousPassword')?.hasError('required')
                                && changePassword.get('previousPassword')?.touched">
                            The Password <strong> is required</strong>
                        </span>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
                <span class="text-danger ms-2"
                        *ngIf="changePassword.get('newPassword')?.hasError('required')
                                && changePassword.get('newPassword')?.touched">
                            The Password <strong> is required</strong>
                        </span>
                        <span class="text-danger ms-2"
                        *ngIf="changePassword.get('newPassword')?.hasError('minlength')
                                && changePassword.get('newPassword')?.touched">
                            The Password  should <strong> contain 6 characters</strong>
                        </span>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Repeat Password" formControlName="confirmPassword">
                <span class="text-danger ms-2"
                        *ngIf="changePassword.hasError('notSame')
                                && changePassword.get('confirmPassword')?.touched">
                            Password <strong> different</strong>
                        </span>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary me-2 btn-accept" [disabled]="changePassword.invalid">Accept</button>
                <button class="btn btn-secondary" routerLink="../">Return</button>
            </div>
        </form>
    </div>
</div>